<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>


<item>
<title>EVENT  LINK 1</title>
<sportsdevil>http://www.stream2watch.co/streams/113680/1</sportsdevil>
<referer>http://showsport-tv.com/</referer>
</item>



<item>
<title>EVENT LINK 2</title>
<sportsdevil>http://www.stream2watch.co/streams/113619/1</sportsdevil>
<referer>http://showsport-tv.com/</referer>
</item>



<item>
<title>EVENT LINK 3</title>
<sportsdevil>http://www.stream2watch.co/streams/113670/1</sportsdevil>
<referer>http://showsport-tv.com/</referer>
</item>


